:root {
    --bg: #0a0f1c;
    --card-bg: #131826;
    --accent: #00ffe7;
    --text: #d0e0ff;
    --border: #2a2f3e;
    --radius: 12px;
    --glow: 0 0 12px #00ffe766;
    --shadow: 0 0 20px rgba(0, 255, 231, 0.1);
    --tag: #aaaa;
    --tag-hover: #576072;
    --tag-bg: #2a2f3e;
    --code-bg: #0d111a;
    --code-top-text: #d0e0ff;
    --code-checkbox-text: #777777;
    --code-num: #555;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #00ffe755;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ffe7aa;
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: black;
    background-color: var(--accent);
}

* {
    box-sizing: border-box;
}