:root {
    --bg: #fff4f9;
    --card-bg: #ffe6f0;
    --accent: #f3a8b5;
    --text: #3e1c1c;
    --border: #f7b8d2;
    --highlight: #f9d5e5;
    --shadow: rgba(255, 182, 199, 0.3);
    --radius: 12px;
    --tag: #3e1c1c;
    --tag-hover: #3e1c1c;
    --tag-bg: #f7b8d2;
    --code-bg: #fff4f9;
    --code-top-text: #3e1c1c;
    --code-checkbox-text: #fff4f9;
    --code-num: #555;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: white;
    background-color: var(--accent);
}

* {
    box-sizing: border-box;
}