:root {
    --bg: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77, #778da9);
    --card-bg: rgba(255, 255, 255, 0.08);
    --accent: #c5ebe6;
    --text: #e0faff;
    --border: rgba(255, 255, 255, 0.15);
    --radius: 16px;
    --tag: #aaaa;
    --tag-hover: #778da9;
    --tag-bg: rgba(255, 255, 255, 0.15);
    --code-bg: #1b263b;
    --code-top-text: #e0faff;
    --code-checkbox-text: #1b263b;
    --code-num: #e0faff80;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #778da9;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b9fff4;
}

::selection {
    background-color: var(--accent);
    color: black;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', 'Segoe UI', sans-serif;
}