:root {
    --bg: #000000;
    --card-bg: #0a0a0a;
    --accent: #00ff00;
    --text: #00ff00;
    --border: #00ff00;
    --radius: 0px;

    --tag: #000000;
    --tag-hover: #00ff00;
    --tag-bg: #00c400;

    --code-bg: #0a0a0a;
    --code-top-text: #00ff00;
    --code-checkbox-text: #0a0a0a;
    --code-num: #008000;
    
    --code-csharp-1: #569cd6;
    --code-csharp-2: #d8a0df;
    --code-csharp-3: #86c691;

    --code-javascript-1: #439CCB;
    --code-javascript-2: #C586C0;
    --code-javascript-3: #9CDCFE;
    --code-javascript-4: #4EC9B0;

    --code-shared-string: #ce9178;
    --code-shared-comment: #57a64a;
    --code-shared-number: #b5cea8;
    --code-shared-class-method: #F0F0AA;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #00ff00;
}

::-webkit-scrollbar-thumb:hover {
    background: #00cc00;
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: black;
    background-color: var(--accent);
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}