:root {
    --bg: #000000;
    --card-bg: #0a0a0a;
    --accent: #00ff00;
    --text: #00ff00;
    --border: #00ff00;
    --radius: 0px;
    --tag: #000000;
    --tag-hover: #00ff00;
    --tag-bg: #00c400;
    --code-bg: #1e1e1e;
    --code-top-text: #00ff00;
    --code-checkbox-text: #252525;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #00ff00;
}

::-webkit-scrollbar-thumb:hover {
    background: #00cc00;
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: black;
    background-color: var(--accent);
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

pre {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: var(--code-bg);
    color: #ffffff;
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    font-size: 0.95em;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid #333;
    width: 100%;
    box-sizing: border-box;
    white-space: pre;
    overflow-x: auto;
    display: block;
    contain: inline-size;
}

pre code {
    background: none;
    color: inherit;
    padding: 0;
    border: none;
}

pre code .no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}