:root {
    --bg: #000000;
    --card-bg: #0a0a0a;
    --accent: #00ff00;
    --text: #00ff00;
    --border: #00ff00;
    --radius: 0px;
    --tag: #000000;
    --tag-hover: #00ff00;
    --tag-bg: #00c400;
    --code-bg: #0a0a0a;
    --code-top-text: #00ff00;
    --code-checkbox-text: #0a0a0a;
    --code-num: #008000;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #00ff00;
}

::-webkit-scrollbar-thumb:hover {
    background: #00cc00;
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: black;
    background-color: var(--accent);
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}