:root {
    --bg: #0f1117;
    --card-bg: #1a1c23;
    --accent: #00bcd4;
    --text: #e0e0e0;
    --border: #2c2f36;
    --radius: 10px;

    --tag: #aaaa;
    --tag-hover: #00bcd4;
    --tag-bg: #2c2f36;

    --code-bg: #1e1e1e;
    --code-top-text: #e0e0e0;
    --code-checkbox-text: #e0e0e0;
    --code-num: #555;
    
    --code-csharp-1: #569cd6;
    --code-csharp-2: #d8a0df;
    --code-csharp-3: #86c691;

    --code-javascript-1: #439CCB;
    --code-javascript-2: #C586C0;
    --code-javascript-3: #9CDCFE;
    --code-javascript-4: #4EC9B0;

    --code-shared-string: #ce9178;
    --code-shared-comment: #57a64a;
    --code-shared-number: #b5cea8;
    --code-shared-class-method: #F0F0AA;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #35353590;
}

::-webkit-scrollbar-thumb:hover {
    background: #353535dd;
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: white;
    background-color: #3498db;
}

* {
    box-sizing: border-box;
}