:root {
    --bg: #161616;
    --card-bg: #1d1d1d;
    --accent: #f53d57;
    --text: #f1f1f1;
    --border: #333333;
    --radius: 10px;
    --highlight: #ffcd00;
    --muted: #888;
    --tag: #aaaa;
    --tag-hover: #aaaa;
    --tag-bg: #333333;
    --code-bg: #222;
    --code-top-text: #f1f1f1;
    --code-checkbox-text: #f1f1f1;
    --code-num: #555;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: black;
    background-color: var(--highlight);
}

* {
    box-sizing: border-box;
}