:root {
    --bg: #0e0e1b;
    --card-bg: #1a1a2e;
    --accent: #8e44ad;
    --text: #ecf0f1;
    --border: #34495e;
    --highlight: #16a085;
    --shadow: rgba(0, 0, 0, 0.4);
    --radius: 12px;

    --tag: #aaaa;
    --tag-hover: #aaaa;
    --tag-bg: #34495e;
    
    --code-bg: #2c3e50;
    --code-top-text: #ecf0f1;
    --code-checkbox-text: #ecf0f1;
    --code-num: #596d81;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: black;
    background-color: var(--highlight);
}

* {
    box-sizing: border-box;
}