:root {
    --bg: #0e0e1b;
    --card-bg: #1a1a2e;
    --accent: #8e44ad;
    --text: #ecf0f1;
    --border: #34495e;
    --highlight: #16a085;
    --shadow: rgba(0, 0, 0, 0.4);
    --radius: 12px;

    --tag: #aaaa;
    --tag-hover: #aaaa;
    --tag-bg: #34495e;
    
    --code-bg: #2c3e50;
    --code-top-text: #ecf0f1;
    --code-checkbox-text: #ecf0f1;
    --code-num: #596d81;
    
    --code-csharp-1: #569cd6;
    --code-csharp-2: #d8a0df;
    --code-csharp-3: #86c691;

    --code-javascript-1: #439CCB;
    --code-javascript-2: #C586C0;
    --code-javascript-3: #9CDCFE;
    --code-javascript-4: #4EC9B0;

    --code-shared-string: #ce9178;
    --code-shared-comment: #57a64a;
    --code-shared-number: #b5cea8;
    --code-shared-class-method: #F0F0AA;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: black;
    background-color: var(--highlight);
}

* {
    box-sizing: border-box;
}