:root {
    --bg: #f4f4f9;
    --card-bg: #ffffff;
    --accent: #ff6f61;
    --text: #4a4a4a;
    --border: #e0e0e0;
    --highlight: #f0a1c1;
    --shadow: rgba(0, 0, 0, 0.1);
    --radius: 12px;

    --tag: #7e7e7e;
    --tag-hover: #7e7e7e;
    --tag-bg: #e0e0e0;

    --code-bg: #f4f4f9;
    --code-top-text: #4a4a4a;
    --code-checkbox-text: #1e1e1e;
    --code-num: #4a4a4a;
    
    --code-csharp-1: #d8a0df;
    --code-csharp-2: #569cd6;
    --code-csharp-3: #86c691;

    --code-javascript-1: #C586C0;
    --code-javascript-2: #439CCB;
    --code-javascript-3: #9CDCFE;
    --code-javascript-4: #4EC9B0;

    --code-shared-string: #ce9178;
    --code-shared-comment: #57a64a;
    --code-shared-number: #a07517;
    --code-shared-class-method: #4ec9b0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

::-webkit-scrollbar-corner {
    background-color: var(--bg);
}

::selection {
    color: white;
    background-color: var(--accent);
}

* {
    box-sizing: border-box;
}